RewriteEngine On
RewriteRule ^shirts/$ /treehouse/shirts/shirts.php
RewriteRule ^shirts/([0-9]+)/$ /treehouse/shirts/shirt.php?id=$1
RewriteRule ^receipt.php$ /treehouse/receipt/ [R=301]
RewriteRule ^contact.php$ /treehouse/contact/ [R=301]
RewriteRule ^shirts.php$ /treehouse/shirts/ [R=301]